:host {
  display: flex;
  height: 100%;
  background-color: #008300;
  flex: 1;
}
.card-image {
  height: 200px;
}
.deal-btn {
  color: wheat;
  border: solid 1px;
  height: 20px;
}
.stack-container {
  display: flex;
  padding: 23px;
  margin-left: auto;
  .top-deck {
    height: 200px;
    margin-right: 8px;
  }
}
