:host {
  display: flex;
  height: 100%;
  background-color: #008300;
  flex: 1;
}
.card-image {
  height: 200px;
}
.deal-btn {
  color: wheat;
  border: solid 1px;
  height: 20px;
}
.stack-container {
  display: flex;
  padding: 23px;
  margin-left: auto;
  .card-stack {
    margin-right: 8px;
    .card-margin {
      background-color: white;
      height: 8px;
      border-radius: 5px 5px 0 0;
      border-top: 1px solid black;
      margin-top: -4px;
    }
  }
  .top-deck {
    height: 200px;
    transform: translateY(-5px);
    border: black 1px solid;
    border-radius: 5px;
  }
}
