<div class="deck"></div>

<div class="stack-container">
  <div class="deck-container" (click)="dealToStacks()">
    <div *ngFor="let margin of deckMarginRep()" class="deck-card-margin">
    </div>
    <ng-container *ngIf="deck.length">
      <img class="deck-trigger" src="assets/cards-images/card_back.png" alt="empty-stack">
    </ng-container>
    <div class="empty-stack-container" [class.visible]="!deck.length">
      <div
        class="empty-stack">stack empty
      </div>
    </div>
  </div>
  <div class="drop-list-container">
    <div class="card-stack" *ngFor="let stack of cardStacks let i =index; trackBy: trackByIdentity"
         id="drop-list_{{i}}"
         cdkDropList
         cdkDropListSortingDisabled
         (cdkDropListDropped)="drop($event,i)"
         [cdkDropListData]="i"
         [cdkDropListEnterPredicate]="canEnterDropList.bind(this, i)"
         [cdkDropListConnectedTo]="getConnectedToDropLists(i)"
    >
      <div *ngFor="let margin of cardStacks[i].slice(1)" #cardMargins class="card-margin stack-num-{{i}}">
      </div>
      <div cdkDrag
           (cdkDragStarted)="shiftCard($event,i)"
           >
        <div class="example-custom-placeholder" *cdkDragPlaceholder>
          <ng-container class="drag-replacer-container">
            <ng-container *ngIf="movedCard">
              <img
                class="card-behind-image"
                [src]="getImageOfCardBehind(i)"
              >
            </ng-container>
          </ng-container>
        </div>
        <img class="top-deck"
             #cardStack
             src="{{cardStacks[i][0]?.img}}"
             width="200"
             height="200"
             (click)="triggerAction($event, i)"
             (dblclick)="discardIfCan($event, i)"
             alt="empty-stack">
        <div>{{cardStacks[i][0] |json}}</div>
      </div>
    </div>
  </div>
</div>
