$card-height: 200px;
$card-width: 143px;
$card-border: 1px solid black;

:host {
  display: flex;
  height: 100%;
  background-color: #008300;
  flex: 1;
}
.card-image, .empty-stack, .top-deck, .card-behind-image, .card-stack {
  height: $card-height;
  width: $card-width;
  &.marked {
    opacity: 0.7
  }
}

.test {
  display: flex;
  height: 400px;
  width: 400px;
  border: $card-border;
}
.card-behind-image {
  border: $card-border;
  transform: translateY(-5px);
}

.drop-list-container {
  display: flex;
}
.empty-stack-container {
  display: none;
  &.visible {
    display: flex;
  }
}

.card-margin, .deck-card-margin {
  background-color: white;
  height: 8px;
  border-radius: 5px 5px 0 0;
  border-top: $card-border;
  margin-top: -4px;
  &.marked {
    clip-path: inset(0px 0px 4px 0px);
  }
}
  .deck-trigger {
    display: flex;
    height: $card-height;
    width: $card-width;
    transform: translateY(-5px);
    border: $card-border;
    border-radius: 5px;
  }

.stack-container {
  display: flex;
  padding: 23px;
  flex: 1;
  margin-left: auto;
  .deck-container {
    margin-right: auto;
  }
  .card-stack {
    margin-right: 8px;
  }
  .top-deck {
    display: flex;
    height: $card-height;
    width: $card-width;
    transform: translateY(-5px);
    border: $card-border;
    border-radius: 5px;
  }
}
