<div class="deck"></div>

<div class="stack-container">
  <div class="deck-container" (click)="dealToStacks()">
    <div *ngFor="let margin of deckMarginRep()" class="deck-card-margin">
    </div>
    <ng-container *ngIf="deck.length">
      <img class="deck-trigger" src="assets/cards-images/card_back.png" alt="empty-stack">
    </ng-container>
    <div class="empty-stack-container" [class.visible]="!deck.length">
      <div
        class="empty-stack">stack empty
      </div>
    </div>
  </div>
  <app-card-stacks
    [cardStacks]="cardStacks"
    [movedIndex]="movedIndex"
    [deck]="deck"
    [movedCard]="movedCard"
    (onEndDrag)="endDrag($event)"
    (drop)="drop($event.$event, $event.i)"
    (onShiftCard)="shiftCard($event.$event, $event.i)"
    (onTriggerAction)="triggerAction($event.$event, $event.i)"
    (discardIfCan)="discardIfCan($event.event, $event.index)"
    (hoverExited)="onHoverExited($event.$event, $event.i)"
  >
  </app-card-stacks>
</div>
