$card-height: 200px;
$card-width: 143px;
$card-border: 1px solid black;

:host {
  display: flex;
  height: 100%;
  background-color: #008300;
  flex: 1;
  position: relative;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.deck-card-margin {
  max-width: 145px;
}

.empty-stack-container {
  display: none;
  &.visible {
    display: flex;
    height: $card-height;
    width: $card-width;
    border: dashed 2px  black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
}


.deck-trigger {
  display: flex;
  height: $card-height;
  width: $card-width;
  transform: translateY(-5px);
  border: $card-border;
  border-radius: 5px;
  -webkit-user-drag: none;
  user-select: none;
}

.stack-container {
  display: flex;
  padding: 23px;
  flex: 1;
  margin-left: auto;
  .deck-container {
    margin-right: auto;
  }


}

