<div class="stack-container">
  <div class="deck-container" >
    <div *ngFor="let margin of deckMarginRep()"
         class="deck-card-margin">
    </div>
    <ng-container *ngIf="deck.length">

      <img (click)="dealToStacks()"
           class="deck-trigger"
           src="assets/cards-images/card_back.png"
           height="976"
           width="686" alt="">

    </ng-container>
    <div class="empty-stack-container" [class.visible]="!deck.length">
      <div
        class="empty-stack">stack empty
      </div>
    </div>

    <app-info-box
      [discarded]="calcDiscarded()"
      [cardsLeft]="cardsLeft()"
      [largestRunSetter]="gameState.discardedBeforeDeal">
    </app-info-box>
    <app-game-controller
      (undoEmitter)="undoGameState()"
      (resetEmitter)="resetGame()">
    </app-game-controller>
    <button (click)="openWinnerModal()">modal</button>
  </div>
  <app-card-stacks
    [cardStacks]="cardStacks"
    [movedIndex]="movedIndex"
    [deck]="deck"
    [movedCard]="movedCard"
    (dropEmitter)="drop($event.$event, $event.i)"
    (shiftCardEmitter)="shiftCard($event.$event, $event.i)"
    (triggerActionEmitter)="triggerAction($event.$event, $event.i)"
    (hoverExited)="onHoverExited($event.$event, $event.i)"
  >
  </app-card-stacks>
</div>
<div id="overlay" *ngIf="configurationService.isLoading">
  <div class="loader"></div>
</div>
