<p>
  Idiot's Delight Solitaire Rules
  Idiot's Delight SolitaireIdiot's Delight is a standard solitaire, described in most solitaire references. Its more proper name is "Aces Up", but it's also known as "Aces High", "Four Aces", "Firing Squad", and "Drivel".

  In its native form, Idiot's Delight is a very difficult, some would say maddening, game. Your chances of winning are not too high, maybe 1 in 20 on the average.

  I've introduced a number of alternate rules (OK, they're really cheats, but I won't tell if you won't) that improve the odds considerably. With skill, strategy, and a smattering of luck, you'll likely win half your hands.

  Setup
  The game is begun by shuffling a standard 52-card deck, and dealing the first four cards faceup in a row, forming the tableau. The remainder of the cards are dealt facedown into a single stock pile. The initial layout looks like this:

  Idiot's Delight initial card layout
  Where the "S" is the stock pile, and the "T's" are the first cards of the tableau piles.

  Play
  The object of the game is to remove cards from the tableau, until the stock is empty and only the four aces remain.

  Discard any card that is lower than another card of the same suit. Cards are ranked A-K-Q-J-10-9-8-7-6-5-4-3-2, with Ace high and 2 low. When no more cards can be discarded, deal another four cards from the stock to the tableau. At this point, only cards that are fully exposed are available for play. If a space is created in one of the tableau piles, any other tableau card may be moved into that space. If you've emptied the stock, and only the four aces remain, you've won!

  Difficulty Levels
  Hardest: The rules described above are the standard rules, and are pretty darn tough. You might win one in 20 if you're lucky.
  Hard: In addition to the standard rules, this level allows you to remove a card if the card it is covering is of the same suit and a higher value. For example, if a tableau pile contained "3H,6S,JD,8D" (with the 8 of diamonds being the one exposed card), then this rule would allow you to remove the 8, because the card that it covers is the same suit (diamond), and is a higher value (jack is higher than 8). This improves your odds to maybe one in ten.
  Easy: In addition to the "hard" and "hardest" rules, this level allows you one more alternate rule: the aces are free, and may be moved from one tableau pile to another, thus freeing up a space or whatever card they may be covering. The only exception to this rule is that an ace may not be moved onto another ace. With this rule you'll probably win one in four.
  Easiest: The final alternate rule allows you to remove pairs of cards of the same value. For example, if the four exposed cards on the four tableau piles were "6S", "4H", "6D", and "9H", you'd be able to remove the two sixes. Again, the only exception to the rule is that you cannot remove aces in pairs. This final rule allows you to win about half the time.
  Strategy & Odds
  In the hardest level of difficulty, there's not a great deal of strategy invloved. Once in a while you'll have a choice to make, as in which of three cards to move to a tableau space, but in general, the game is fairly mechanical.

  Although adding the alternate rules makes the game easier to win, the opportunity for skillful play is greatly enhanced. Indeed, the easiest level of play offers the most choices, and hence, requires the most skill and strategy of all.

  In particular, the removal of pairs is the one rule that requires the most foresight. I've often found that removing pairs of high cards too early limits the choices later on. So it's a tradeoff -- taking the easy way out may make it more difficult for you later in the game. Removing low-ranking pairs is almosts always a safe move.

</p>
