<div class="title">You Won !</div>


<div class="content">Your Score is : {{data.score}}</div>

<div *ngIf="data.topTenEligible">
  <div>You Got A high Score !</div>
  <div> Enter your name to save score to high score board:</div>
  <form class="submit-form" [formGroup]="formGroup">
    <input class="name-field" formControlName="name" type="text">
    <button
      *ngIf="!scoreSent"
      [disabled]="!formGroup.valid || isUpdating"
      class="btn"
      (click)="updateScore()"  type="submit">Update</button>
    <div
      class="score-sent-section"
      *ngIf="scoreSent">
      <div>Score record was updated!</div>
    <button
      class="btn"
      (click)="dialogRef.close(destination.HighScores)"> Go To High Scores Table</button>
    </div>
  </form>
</div>

<div class="footer">
<button (click)="dialogRef.close(destination.NewGame)"  class="start-game btn">Start a new Game</button>
<button (click)="dialogRef.close(destination.Home)"  class="main-menu btn">Main Menu</button>
</div>
