
:host {
  background-color: #f5f0e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 500px;
}
.submit-form {
  display: flex;
  flex-direction: column;

  .name-field {
    margin: 5px;
  }
  .btn {
    margin-top: 20px;
  }
}
.title {
  padding-bottom: 8px;
  font-size: 20px;
}

.content {
  font-size: 16px;
  padding-bottom: 8px;
}
.btn {
  background-color: #f5f0e1;
  width: 180px;
  padding: 10px;
  &.start-game {
    margin-right: 20px;
  }
  &:hover {
    cursor: pointer;
    background-color: #c5c0a1;
  }
}
.footer {
  display: flex;
  margin: 20px 0 10px;

}
