<div class="title">You Won !</div>


<div class="content">Your Score is : {{data.score}}</div>

<div *ngIf="data.topTenEligible">
  <div>You Got A high Score !</div>
  <div> Enter your name to save score to high score board</div>
  <form [formGroup]="formGroup">
    <input formControlName="name" type="text">
  </form>
</div>

<div class="footer">
<button (click)="dialogRef.close(destination.NewGame)"  class="start-game btn">Start a new Game</button>
<button (click)="dialogRef.close(destination.Home)"  class="main-menu btn">Main Menu</button>
</div>
