<div class="action-container">
  <div class="action-description">
    Undo
  </div>
  <button class="material-icons" (click)="undo()">
    undo
  </button>
</div>
<div class="action-container">
  <div class="action-description">
    Redo
  </div>
  <button class="material-icons" (click)="reDo()">
    redo
  </button>
</div>
<div class="action-container">
  <div class="action-description">
    Reset Game
  </div>
  <button (click)="reset()" class="material-icons">
    restart_alt
  </button>
</div>
<div class="action-container">
  <div class="action-description">
    Main Menu
  </div>
  <button (click)="mainMenu()" class="material-symbols-outlined">
        home
  </button>
</div>
