@import 'src/vars';

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: $background-green;
  flex: 1;
  position: relative;
  &.loading {
    cursor: wait;
  }
}

.title {
  margin-top: 10%;
}

.menu-container {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .btn {
    height: 50px;
    font-size: 20px;
    margin-bottom: 15px;
    &:hover:not([disabled]) {
      background-color: beige;
      cursor: pointer;
    }
  }
}
