<div class="drop-list-container">
  <div class="card-stack" *ngFor="let stack of cardStacks let i =index; trackBy: trackByIdentity"
       id="drop-list_{{i}}"
       cdkDropList
       cdkDropListSortingDisabled
       (cdkDropListDropped)="onDrop($event,i)"
       (cdkDropListEntered)="onHoverEnter($event,i)"
       (cdkDropListExited)="onHoverExited($event,i)"
       [cdkDropListData]="i"
       [cdkDropListEnterPredicate]="canEnterDropList.bind(this, i)"
       [cdkDropListConnectedTo]="getConnectedToDropLists(i)"
  >
    <ng-container *ngIf="cardStacks[i]">
      <div *ngFor="let margin of cardStacks[i].slice(1)" #cardMargins class="card-margin stack-num-{{i}}">
      </div>
    </ng-container>
    <div cdkDrag (cdkDragStarted)="shiftCard($event,i)">
      <img class="top-deck"
           *ngIf="cardStacks[i][0] && !(movedIndex === i) "
           #cardStack
           src="{{cardStacks[i][0]?.img}}"
           width="200"
           height="200"
           (click)="triggerAction($event, i)"
           alt="">
      <div class="top-deck"
           *ngIf="!cardStacks[i][0] || movedIndex === i">
      </div>

    </div>
    <div *ngIf="movedIndex === i">
      <div class="replacer">
        <div *ngFor="let margin of cardStacks[i]"
             class="card-margin replacer-margin  stack-num-{{i}}">
        </div>
        <img
          *ngIf="cardStacks[i][0]"
          class="replacer-image"
          src="{{cardStacks[i][0]?.img}}" alt="vafsa">
      </div>
    </div>
  </div>
</div>
