$card-height: 200px;
$card-width: 143px;
$card-border: 1px solid black;

.drop-list-container {
  display: flex;
  position: relative;
}

.card-image, .empty-stack, .top-deck, .card-behind-image, .card-stack, .replacer-image {
  height: $card-height;
  width: $card-width;
  border-radius: 5px;
  user-select: none;
  &.marked {
    opacity: 0.7
  }
}

.card-stack {
  margin-right: 8px;
}

.card-behind-image {
  border: $card-border;
  transform: translateY(-5px);
}
.cdk-drag-placeholder {
  opacity: 0;
  height: 0;
}

.replacer-image {
  border-radius: 5px;
}

.replacer-margin {
  transform: translateY(4px);
}

.replacer {
  position: absolute;
  top: 0;
  height: $card-height;
  width: $card-width;
  border: $card-border;
  transform: translateY(-5px);
  border-radius: 5px;
}

.top-deck {
  display: flex;
  height: $card-height;
  width: $card-width;
  transform: translateY(-5px);
  border: $card-border;
  &.hide {
    display: none;
  }
}
.card-margin.is-selected {
  position: relative;
}
.card-margin.is-selected::after {
  position: absolute;
  bottom: 0;
  content: '';
  height: 4.5px;
  width: 100%;
  background-color: #048404;
  opacity: 0.93
}

