@import 'src/vars';
:host {
  background-color: $background-green;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
.table-container {
  .title {
    display: flex;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 50px;
  }
  display: flex;
  flex-direction: column;
  margin: 200px 33%;
}
.btn {
  width: 200px;
  height: 50px;
}
